.component {
    position: absolute;
    margin-bottom: 5vh;
    z-index: 1000;
}

.boschcolors {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../public/boschcolors.jpg);
    width: 100vw;
    height: 6px;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 3%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boschlogo {
    width: 160px;
    height: auto;
}

.link {
    font-size: large;
    color: black;
}

.link:hover {
    color: #007bc0;
    cursor: pointer;
}