.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
    flex-wrap: wrap;
    padding: 15vh 0 10vh 0;
    gap: 2vw;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}