.title {
    margin-top: 12vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-y: hidden;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 5vh;
    gap: 2vw;
}